name: Flutter Formatter

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  flutter_format:
    name: Run Dart Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Check Formatting
        # --set-exit-if-changed will fail the CI if code is not formatted
        run: dart format --output=none --set-exit-if-changed .